Flask
flask-login
Flask_Principal
marshmallow
passlib
WTForms_Components
Flask-SQLAlchemy==2.4.0
simplejson
Flask-WTF
Jinja2==2.10.1
git+git://github.com/Vigneshthanga/lockoncrm_common@master
authlib
six
Flask-HTTPAuth==3.2.2
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SocketIO==2.8.6
psycopg2
mysqlclient
PyMySQL
flask-bootstrap
